n8n_workflow.json
{
  "name": "Bitbucket PR Merge → AgentOps Feedback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bitbucket-pr-merge",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bitbucket-pr-merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.8:8000/feedback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "run_id",
              "value": "={{ Number($json.body?.run_id ?? $json.headers?.['x-agentops-run-id'] ?? $json.body?.pullrequest?.id ?? 0) }}"
            },
            {
              "name": "status",
              "value": "merged"
            },
            {
              "name": "pr_title",
              "value": "={{ $json.body.pullrequest?.title ?? '' }}"
            },
            {
              "name": "author",
              "value": "={{ $json.body.pullrequest?.author?.display_name ?? '' }}"
            },
            {
              "name": "merged_by",
              "value": "={{ $json.body.actor?.display_name ?? '' }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-request",
      "name": "POST /feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"message\": \"feedback sent\", \"response\": $json } }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Bitbucket",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "POST /feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /feedback": {
      "main": [
        [
          {
            "node": "Respond to Bitbucket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
